* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.calculator {
  width: 300px;
  margin: 60px auto;
  padding: 20px;
  border-radius: 12px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: 3px solid black;

.screen {
  width: 100%;
  height: 60px;
  background: #666;
  color:darkblue;
  font-size: 28px;
  padding: 10px;
  border-radius: 5px;
  text-align: right;
  margin-bottom: 15px;
  overflow: hidden;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #444;
  color: white;
  transition: 0.2s;
}

button:hover {
  background: #666;
}

.equal {
  background: #0a84ff;
}

.equal:hover {
  background: #006dd9;
}

.clear {
  background: #ff3b30;
}

.clear:hover {
  background: #d62e26;
}
button[data-value="DEL"] {
  background: #ff9500;
}

button[data-value="DEL"]:hover {
  background: #d67f00;
}